name: My first workflow
on: [push]
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout Repository
              uses: actions/checkout@v5

            - name: Make the script executable
              run: chmod +x ./ascii-script.sh
            
            - name: run the script
              run: ./ascii-script.sh